html,
body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: #000;
}

body {
    width: 85%;
    margin: 0 auto;
}

#words {
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
}

.word {
    font-size: 270%;
    color: rgb(216, 216, 216);
    display: inline-block;
}

.character {
    border: 1px solid transparent;
}

.character.selected {
    border: 1px solid #fff;
}

.character.visited {
    color: #ff0;
}

.character.incorrect {
    color: rgb(255, 110, 91);
}

#dashboard {
    width: 100%;
    height: 35px;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
}

#word-count {
    font-size: 150%;
}

#combo-count {
    font-size: 3000%;
    position: absolute;
    color: #ff0;
    opacity: 0.3;
    bottom: 0;
    right: 20px;
}
