html,
body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: #000;
}

#words {
    width: 80%;
    margin: 20px auto;
}

.word {
    font-size: 270%;
    color: rgb(216, 216, 216);
    display: inline-block;
}

.character {
    border: 1px solid transparent;
}

.character.selected {
    border: 1px solid #fff;
}

.character.visited {
    color: #ff0;
}

.character.incorrect {
    color: rgb(255, 94, 73);
}
